<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      iFinanças
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">iFinanças</ion-title>
    <botao-logout (click)="logout()"></botao-logout>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false"  force-overscroll='false'>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">iFinanças</ion-title>
      <botao-logout (click)="logout()"></botao-logout>
    </ion-toolbar>
  </ion-header> -->

  <ion-app>
    <ion-card class="contas-total">
      <ion-toolbar class="bg-hidden" color="white">
        <h3 class="controle">Seu controle</h3>
          
        <div class="line-divisao"></div>
        <ion-item class="bg-hidden" color="white" lines="none">
          <h5 class="totais">Total a receber</h5>
          <p slot="end" class="valor-total">{{valoresReceber | currency:'BRL':true:'1.2-2'}}</p>
        </ion-item>
        <ion-item class="bg-hidden" color="white" lines="none">
          <h5 class="totais">Total gasto</h5>
          <p slot="end" class="valor-total">{{valoresPagar | currency:'BRL':true:'1.2-2'}}</p>
        </ion-item>

        <ion-item class="bg-hidden" color="white" lines="none">
          <h5 class="totais">Saldo</h5>
          <p slot="end" class="valor-total">{{saldo | currency:'BRL':true:'1.2-2'}}</p>
        </ion-item>
      </ion-toolbar>
      
    </ion-card>
    <!-- <div class="line-divisao"></div> -->
  </ion-app>
  </ion-content>

 
  <ion-content> 
    <ion-card class="notificacoes-contas">
      <ion-toolbar class="bg-hidden" color="white">
        <ion-badge color="danger">{{countPagar}} a pagar</ion-badge>
        <p class="totais">No total de</p>
        <p class="valor-total-ntf">{{valoresPagar | currency:'BRL':true:'1.2-2'}}</p>
      </ion-toolbar>
    </ion-card>
   
    <ion-card class="notificacoes-contas">
      <ion-toolbar class="bg-hidden" color="white">
        <ion-badge color="success">{{countReceber}} a receber</ion-badge>
        <p class="totais">No total de</p>
        <p class="valor-total-ntf">{{valoresReceber | currency:'BRL':true:'1.2-2'}}</p>
      </ion-toolbar>
    </ion-card>

    <ion-card class="box-contas">
      <ion-list class="bg-hidden" color="white">
        <ion-item *ngFor="let conta of listaContas" class="bg-hidden" color="white">
          <h5 class="parceiro">{{conta.parceiro}}</h5>
          <p class="desc">{{conta.descricao}}</p>
          <p *ngIf="conta.tipo == 'pagar'" class="valor vpagar">- {{conta.valor | currency:'BRL':true:'1.2-2'}}</p>
          <p *ngIf="conta.tipo == 'receber'" class="valor vreceber">+ {{conta.valor | currency:'BRL':true:'1.2-2'}}</p>
        </ion-item>
      </ion-list>
    </ion-card>
  </ion-content>
<ion-footer >
  <ion-toolbar>
   
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" selected>
          <ion-icon name="home" [routerLink]="['/home']"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="pagar">
          <ion-icon name="push" [routerLink]="['/contas/pagar']"></ion-icon>
          <ion-label>A pagar</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="receber">
          <ion-icon name="download" [routerLink]="['/contas/receber']"></ion-icon>
          <ion-label>A receber</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="cadastro">
          <ion-icon name="duplicate" [routerLink]="['/contas/cadastro']"></ion-icon>
          <ion-label>Cadastrar conta</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>