#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.contas-total{
  position: relative;
  margin: 4% 5% 0% 5%;
  padding:2% 5% 9% 2%;
  align-items: center;
  justify-content:center;
  background-color: rgba(231, 231, 231, 0.637);
  border-radius:8px;
}

.notificacoes-contas{
  z-index: 0;
  position: relative;
  float: left;
  left: 0px;
  width: 42%;
  margin: 5% 0% 5% 5%;
  padding:2% 5% 0% 2%;
  align-items: center;
  justify-content:center;
  
  background-color: rgba(231, 231, 231, 0.637);
  border-radius:8px;
}


ion-item.ion-color {
  color:rgb(168, 168, 168);
}


.bg-hidden {
  background-color: transparent;
}

.line-divisao{
  background-color: rgba(206, 206, 206, 0.637);
  padding: 0.4px;
  width: 80%;
  justify-items: center;
  align-items: center;
  margin: auto;
  margin-top: -1%;
  // margin-bottom: 5%;
}

.cadastrar-contas{
  margin: 5% 5% 5% 5%;

}

.button-home{
  margin: 2%;
}

.box-contas{
  margin: 20% 5% 5% 5%;
  padding:5% 5% 6% 2%;
  align-items: center;
  justify-content:center;
  
  background-color: rgba(231, 231, 231, 0.637);
  border-radius:8px;

}

.parceiro{
  margin-bottom: 25%;
  // margin-right: 40%;
  font-weight: bold;
  float:left;
  color: rgb(20, 20, 20);
}

.desc{
  position: absolute;
  margin-top: 8%;
  color: rgb(83, 83, 83);
}

.valor{
  margin-top:25%;
  position: absolute;
  font-size: 12pt;
  font-weight: bold;
  border-radius: 8px;
  padding: 1% 1% 0% 1%;
}

.vpagar{
  border: 1px solid rgb(196, 55, 55);
  background-color: rgb(236, 77, 77);
  color: aliceblue;
}

.vreceber{
  border: 1px solid rgb(98, 223, 125);
  background-color: rgb(51, 223, 108);
  color: aliceblue;
}


.totais{
  margin-bottom: 0%;
  // margin-right: 40%;
  font-weight: bold;
  float:left;
  color: rgb(20, 20, 20);
}

.controle{
  margin-left: 6%;
  margin-bottom: 5%;
  // margin-right: 40%;
  font-weight: bold;
  // float:left;
  color: rgb(20, 20, 20);
}

.valor-total{
  float: right;
  display: inline-flex;
  font-size: 12pt;
  font-weight: bold;
}

.valor-total-ntf{
  display: inline-flex;
  font-size: 10pt;
  font-weight: bold;
}