<ion-header >
  <div class="header-contas">
    <ion-title class="ios">Contas a pagar</ion-title>
  </div>
  <div class="line-contas"></div>
</ion-header>

<ion-content>
  <!-- (click)="remove(conta)" -->
  <div class="box-contas">
    <ion-list class="bg-hidden" color="white">
      <ion-item *ngFor="let conta of listaContas" class="bg-hidden" color="white">
        <h5 class="parceiro">{{conta.parceiro}}</h5>
        <p class="desc">{{conta.descricao}}</p>
        <p class="valor vpagar">{{conta.valor | currency:'BRL':true:'1.2-2'}}</p>
        <ion-icon slot="end" class="bg-hidden delete-button" name="create-outline" color="white" lines="none" (click)="edita(conta)"></ion-icon>
        <ion-icon slot="end" class="bg-hidden delete-button" name="trash-outline" color="white" lines="none" (click)="remove(conta)"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- <ion-icon class="footer-content" name="home-outline" slot="start" [routerLink]="['/home']"></ion-icon>
    <ion-icon class="footer-content" name="push" slot="start" [routerLink]="['/contas/pagar']"></ion-icon>
    <ion-icon class="footer-content" name="download-outline" slot="end" [routerLink]="['/contas/receber']"></ion-icon>
    <ion-icon class="footer-content" name="duplicate-outline" slot="end" [routerLink]="['/contas/cadastro']"></ion-icon> -->
  
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home" [routerLink]="['/home']"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="pagar" selected>
          <ion-icon name="push" [routerLink]="['/contas/pagar']"></ion-icon>
          <ion-label>A pagar</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="receber">
          <ion-icon name="download" [routerLink]="['/contas/receber']"></ion-icon>
          <ion-label>A receber</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="cadastro">
          <ion-icon name="duplicate" [routerLink]="['/contas/cadastro']"></ion-icon>
          <ion-label>Cadastrar conta</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>